$color-cream: #f7f1de;
$color-cream-light: #f7f1ded9;
$color-blue: #132440;
$color-white: #ffffff;
$color-black: #000000;

$font-title: "Anton", sans-serif;
$font-body: "Inter", sans-serif;

$overlay-dark: rgba(0, 0, 0, 0.25);
