@use "../../styles/variables.scss" as *;


.main-contact {
  position: relative;
  width: 100vw;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;

  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(75%);
  }

  .video-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
  }

  .main-contact-content {
    position: absolute;
    z-index: 2;
    color: $color-cream;
    max-width: 1400px;
    left: 6%;
    bottom: 30px;
    text-align: left;
  }

  .contact-hero-title {
    font-family: $font-title;
    color: $color-cream;
    font-size: 7.2rem;
    line-height: 0.85;
    margin: 0 0 0.6rem 0;
  }

  .contact-hero-desc {
    font-family: $font-body;
    font-size: 1.05rem;
    max-width: 820px;
    line-height: 1.6;
    color: $color-cream;
    margin-top: 0.6rem;
  }

  .menu-toggle {
    position: absolute;
    right: 40px;
    top: 32px;
    z-index: 3;
    width: 44px;
    height: 44px;
  }
}

